/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: #353535;
}

h1 {
    font-size: 64px;
    margin: 10px 40px;
}

#header {
    background-color: #D9D9D9;
    margin: 0;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 24px;

}

p {
    font-size: 20px
}

.source {
    color: #505050;
    text-align: center;
    margin: auto;
}