/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: #353535;
    margin: 0;
}
h1 {
    font-size: 64px;
    margin: 10px 40px;
}
.header-image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    max-height: 320px;
    width: 60%;
    object-fit:cover;
    object-position: 30% 0%;
    border-radius: 120px 20px 20px 20px
}


#header {
    background-color: #D9D9D9;
    margin-top: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.blog-text {
    margin: 0px 20%;
    margin-top: 0px;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 24px;

}

p {
    font-size: 20px
}

.body-image {
    align-items: center;
    width: 100%;
}

.source {
    color: #505050;
    text-align: center;
}